<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wander Lust</title>
</head>
<body>
    <h3> Edit your Listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <input name="list[title]" value="<%= listing.title %>" type="text">
        <br><br>
        <textarea name="list[description]" type="text"><%= listing.description %></textarea>
        <br><br>
        <input name="list[image]" value="<%= listing.image %>" type="text">
        <br><br>
        <input name="list[price]" value="<%= listing.price %>" type="number">
        <br><br>
        <input name="list[country]" value="<%= listing.country %>" type="text">
        <br><br>
        <input name="list[location]" value="<%= listing.location %>" type="text">
        <br><br>
        <button>Edit</button>
    </form>
</body>
</html>